<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados de la Búsqueda</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>

<div class="container mt-5">
    <h1 class="mb-4 text-center">Resultados de la Búsqueda</h1>
    <div class="row">
        <div class="col-md-3 mb-4" th:each="producto : ${productos}">
            <div class="card">
                <img th:if="${producto.foto != null && #strings.length(producto.foto) > 0}"
                     th:src="@{'/uploads/' + ${producto.foto}}"
                     class="card-img-top"
                     th:alt="${producto.nombre}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${producto.nombre}"></h5>
                    <p class="card-text" th:text="${producto.descripcion}"></p>
                    <p class="card-text price" th:text="'$' + ${producto.precio}"></p>
                    <a th:href="@{/product/verProduct/{id}(id=${producto.id})}" class="btn-view">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
